.syntrio {
    width: 100%;
}

.syntrio-img {
    width: 0%;
    padding-top: 100px;
}

.syntrio-video-container {
    margin-top: 70px;
}

.syntrio-para {
    font-size: 24px;
    margin: 50px 0;
    text-align: center;
}