.anime-1 {
    flex: 0.5;
    height: 400px;
    background-color: #1d1c20;
    border: #8f8f8f82 solid 1px;
    border-radius: 25px;
    overflow: hidden;
}

.initial-animation {
    margin: 30px;
}

.animation-title {
    font-size: 20px;
    font-weight: 550;
    margin: 0;
}

.animation-desc {
    color: #8d8d8d;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
}

.animation-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 200px;
}

.input-animation {
    padding: 15px 20px;
    width: 100%;
    background-color: #262629;
    border: solid 1px #878788;
    border-radius: 25px;
    height: 24px;
}

.input-animation::placeholder {
    color: #878788;
    font-size: 16px;
    font-weight: 600;
}

.input-button {
    margin-left: -110px;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #353535;
    color: white;
    border: solid 1px #878788;
    cursor: pointer;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.input-button.enlarge {
    transform: scale(1.5);
    opacity: 0;
}

.later-animation {
    display: none;
    flex-direction: row;
    padding: 0 20px;
    height: 400px;
    gap: 30px;
    justify-content: space-between;
    overflow: hidden;
}

.animation-2 {
    transition: all 0.5s ease;
    padding: 15px;
    background-color: #1b1b1e;
    border: solid 1px #8f8f8f82;
    margin: -10px 30px 0 0;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    border-radius: 0 0 25px 25px;
}

.show {
    display: flex;
}

.hide {
    display: none;
}

.show .phone-1 {
    margin: 70px 0 0 30px;
    animation: trans-reverse 1s;
}

.show .animation-2 {
    opacity: 1;
    animation: trans 1s;
}

@keyframes trans {
    0% {
        transform: translateY(-50%);
    }

    70% {
        transform: translateY(5%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes trans-reverse {
    0% {
        transform: translateY(50%);
    }

    70% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(0);
    }
}

.tab-img {
    padding: 20px;
    overflow-x: scroll;
    scrollbar-width: none;
}

.tabimg {
    width: 100%;
}

.img-desc {
    margin: 20px 0;
    font-size: 16px;
    font-weight: 600;
}

@media (max-width: 1300px) {
    .animation-2 {
        display: none;
    }
}

@media (max-width: 1000px) {

    .show .phone-1 {
        margin: 70px 0 0 0;
    }

    .anime-1 {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
    }

    .animation-1 {
        margin-right: 30px;
    }

    .later-animation {
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .work-animations {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .anime-1 {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
    }

    .animation-1 {
        margin-right: 30px;
    }

    .later-animation {
        width: 100%;
    }

    .animation-2 {
        display: none;
    }

    .input-animation {
        display: none;
    }

    .input-button {
        margin: 0;
        align-self: center;
    }
}