.body {
    display: flex;
    flex-direction: column;
    padding-top: 160px;
}
.body-1{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.body-1-head {
    margin: 0;
    font-size: 56px;
}
.body-1-title {
    margin: 20px 0 0 0;
    font-size: 32px;
    font-weight: 200;
}
.body-1-desc{
    margin: 65px 0 0 0;
    width: 80%;
    font-size: 24px;
    font-weight: 400;
}
.body-1-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 65px 0 0 0;
    font-size: 16px;
}
.body-1-item{
    display: flex;
    flex-direction: column;
}
.body-1-item-title {
    margin: 0;
}
.body-1-item-desc {
    color: #777777;
    margin: 1px 0 0 0;
}
.body-2{
    width: 100%;
    margin: 150px 0 0;
    display: flex;
    justify-content: center;
    background-color: #36343c;
    padding: 60px 0 0;
    border-radius: 35px;
    height: auto;
}
.body-2-img {
    width: 40%;
    height: auto;
    overflow: visible;
}
.body-3-desc{
    margin: 150px 0 20px 0;
    font-size: 24px;
    font-weight: 400;
    text-align: justify;
}
.body-4{
    width: 100%;
    margin: 150px 0 0;
    display: flex;
    justify-content: center;
    background-color: #36343c;
    padding: 0;
    border-radius: 35px;
    height: auto;
}
.body-4-img {
    padding: 20px;
    height: auto;
    overflow: visible;
}
.body-5{
    width: 100%;
    margin: 50px 0 0;
    display: flex;
    justify-content: center;
    background-color: #36343c;
    padding: 0;
    border-radius: 35px;
    height: auto;
}
.body-5-img {
    padding: 20px;
    height: auto;
    overflow: visible;
}
.body-6-desc{
    margin: 100px 0 20px 0;
    font-size: 24px;
    font-weight: 400;
    text-align: justify;
}
@media screen and (max-width: 1300px) {
    .body-1-head{
        font-size: 32px;
    }
    .body-1-title{
        font-size: 24px;
    }
    .body-1-desc, .body-3-desc, .body-6-desc{
        font-size: 22px;
    }
}
@media screen and (max-width: 760px) {
    .body-1, .body-1-desc{
        width: 100%;
    }
    .body-1-items{
        flex-direction: column;
        gap: 15px;
    }
    .body-1-item{
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
    }
    .body-2{
        padding: 20px 0 0;
    }
    .body-4, .body-5 {
        height: 300px;
        overflow: hidden;
    }
    .body-4-img, .body-5-img {
        width: 30%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}
@media screen and (max-width: 450px) {
    .body-2-img{
        width: 60%;
    }
    .body-1-item{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .body-4-img, .body-5-img {
        align-self: center;
        width: 70%;
        height: 90%;
        object-fit: contain;
        object-position: center;
    }
}