.work {
    background-color: var(--background-color);
}

.work-content {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
}

.work-head h1 {
    font-size: 54px;
    font-weight: 200;
}

.work-title-span {
    color: #a8ec65;
}

.work-sliders {
    align-self: center;
    width: 96vw;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 30px;
    -webkit-mask: linear-gradient(90deg, #0000, #000 10% 90%, #0000);
}

.work-slides {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: 20px;
}

.slide {
    flex: none;
    width: 250px;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
    transition: width 0.5s ease;
    cursor: pointer;
    position: relative; /* Added to position absolute children */
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: opacity 0.5s ease;
}

.slide-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.hov-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    opacity: 0.5;
    transition: opacity 0.5s ease;
}

.slide-cont {
    position: absolute;
    top: 70%;
    left: 10%;
    right: 10%;
    transform: translateY(-50%);
    color: #fff;
    text-align: left;
    overflow: hidden;
}

.slide-title {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.slide-desc {
    font-size: 16px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.slide:hover {
    width: 400px;
}

.slide:hover img {
    scale: 1.5;
}

.slide:hover > .ori-img {
    opacity: 0;
}

.slide:hover > .slide-hover {
    display: block;
}   