/* .footer{
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    padding-top: 140px;
}
.footer-left {
    flex: 1;
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    font-size: 24px;
}
.footer-button{
    margin-top: 25px;
    padding: 15px 25px;
    background-color: white;
    width: fit-content;
    border-radius: 25px;
    font-size: 15px;
    border: 1px solid rgb(67, 67, 67);
    transition: 0.2s;
    cursor: pointer;
}
.footer-button:hover {
    background-color: black;
    color: white;
}
.footer-right{
    flex: 1;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    width: 100%;
}
.footer-right-head {
    font-weight: 600;
    font-size: 12px;
}
.footer-right-links{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 30%;
}
.footer-right-1, .footer-right-2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-item-container {
    overflow: hidden;
    height: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.footer-item{
    position: relative;
    transform: translateY(0);
    transition: transform 0.5s, opacity 0.5s;
}
.footer-item-h{
    position: absolute;
    color: #777777;
    transform: translateY(24px);
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0;
}
.footer-item-container:hover .footer-item{
    opacity: 0;
    transform: translateY(-100%);
}
.footer-item-container:hover .footer-item-h{
    opacity: 1;
    transform: translateY(0px);
}
@media screen and (max-width: 1300px) {
    .footer-left{
        font-size: 22px;
    }
}
@media screen and (max-width: 760px) {
    .footer{
        flex-direction: column;
        gap: 40px;
    }
    .footer-right{
        padding: 0;
    }
} */

.section-6 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-6-inner {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;
}

.section-6-inner-text {
    font-family: "Bricolage Grotesque";
    font-size: 3.5vw;
    font-weight: 800;
    width: 60%;
    text-align: center;
}

.section-6-inner-buttons {
    display: flex;
    gap: 10px;
}

.section-6-inner-button {
    color: white;
    background-color: black;
    font-family: 'Inter';
    padding: 15px 20px;
    border-radius: 100px;
    font-size: 1.1vw;
    letter-spacing: .05vw;
    transition: .2s;
    border: 1px solid black;
    text-decoration: none;
}

.section-6-inner-button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.section-6-footer {
    box-sizing: border-box;
    padding: 0px 10vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5vw;
}

.section-6-footer-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.section-6-footer-image {
    width: 6vw;
}

.section-6-footer-left-text-1 {
    color: #7F7F7F;
    font-family: "Bricolage Grotesque";
    font-size: 1.5vw;
    font-weight: 600;
}

.section-6-footer-left-text-2 {
    color: #000;
    font-family: "Bricolage Grotesque";
    font-size: 3vw;
    font-weight: 600;
}

.section-6-footer-right {
    display: flex;
    gap: 3vw;
}

.section-6-footer-right a{
    border-radius: 50px;
    padding: 15px;
    background: #FFF;
    border: 1px solid #E6E6E6;
    box-shadow: 0px 4px 43.8px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-6-footer-right a img {
    width: 2vw;
    height: 2vw;
    object-fit: contain;
}


@media screen and (max-width:1024px) {
    .section-6-inner-text {
        font-size: 5.5vw;
    }

    .section-6-inner-button {
        font-size: 2.5vw;
        padding: 18px 26px;
    }

    .section-6-inner-buttons {
        flex-direction: column;
        align-items: center;
        gap: 4vw;
    }
    .section-6-footer {
        margin-bottom: 10vw;
    }
    .section-6-footer-image {
        width: 10vw;
    }
    .section-6-footer-left-text-1 {
        font-size: 2.5vw;
    }
    .section-6-footer-left-text-2 {
        font-size: 4.5vw;
    }
    .section-6-footer-right a img {
        width: 3vw;
        height: 3vw;
        object-fit: contain;
    }
}

@media screen and (max-width:767px) {
    .section-6-inner-text {
        width: 80%;
    }
    .section-6-inner-button {
        font-size: 3.5vw;
        padding: 14px 23px;
    }
    .section-6-footer-right a img {
        width: 4vw;
        height: 4vw;
    }
    .section-6-footer {
        flex-direction: column;
        gap: 6vw;
    }
    .section-6-footer-image {
        width: 15vw;
    }
    .section-6-footer-left-text-1 {
        font-size: 3.5vw;
    }
    .section-6-footer-left-text-2 {
        font-size: 6.5vw;
    }
    .section-6-footer-right {
        gap: 5vw;
    }
}