body {
    background-color: #000000;
    color: #FFFFFF;
    padding: 0px 140px 24px;
    font-family: "DM Sans", sans-serif;
}
@media screen and (max-width: 1300px) and (min-width: 900px) {
    body {
        padding: 0px 80px 24px;
    }
}
@media screen and (max-width: 900px) and (min-width: 760px) {
    body {
        padding: 0px 40px 24px;
    }
}
@media screen and (max-width: 760px) {
    body {
        padding: 0px 20px 24px;
    }
}
@keyframes slideInFromBottom {
    from {
        transform: translateY(50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.scrolleffect {
    animation: slideInFromBottom 1s ease-in-out forwards;
}
@keyframes slideInFromTop {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.scrolleffectn {
    animation: slideInFromTop 1s ease-in-out forwards;
    animation-delay: 0.5s;
}