body {
    background-color: #000000;
    color: #FFFFFF;
    padding: 0px 140px 24px;
    font-family: "DM Sans", sans-serif;
    scroll-behavior: smooth;
}

body.dark-mode {
    background-color: white;
    color: black;
}
@media screen and (max-width: 1300px) and (min-width: 900px) {
    body {
        padding: 0px 80px 24px;
    }
}
@media screen and (max-width: 900px) and (min-width: 760px) {
    body {
        padding: 0px 40px 24px;
    }
}
@media screen and (max-width: 760px) {
    body {
        padding: 0px 20px 24px;
    }
}
@keyframes slideInFromBottom {
    from {
        transform: translateY(50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.scrolleffect {
    opacity: 0;
    transform: translateY(50%);
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}
.scrolleffect.visible {
    opacity: 1;
    transform: translateY(0);
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.scrolleffectn {
    opacity: 0;
    transform: translateY(-50%);
    transition: transform 1s ease-in-out 0.5s, opacity 1s ease-in-out 0.5s;
}
.scrolleffectn.visible {
    opacity: 1;
    transform: translateY(0);
}